@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: auto;
}
body{
    font-family: "Poppins", sans-serif;
    
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.header div{
    width: 1220px;
}

.header{
    /* max-width: 1110px; */
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 2rem; */
    text-align: center;
    padding: 1rem;
}

.header h1{
    font-size: 2.6875rem;
    font-weight: 800;
    line-height: normal;
    color: #fff;
}

.header h1 span{
    color:#ff4d30 ;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: normal;
}


.nav-links{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.nav-links ul{
    display: flex;
    gap: 1rem;
}

.nav-links li{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    font-size: 1.1875rem;
    font-weight: 400;
    line-height: normal;
    color: #fff;
}

.nav-links a:hover{
    color: #ff4d30;
    border-bottom: 1px solid #ff4d30;
}

.btn{
    border: none;
    background-color: #ff4d30;
    color: #fff;
    padding: 1rem;
    cursor: pointer;
}

.nav-links button:hover{
    color: #ff4d30;
    background-color: #fff;
}

.hero-content{
    position: absolute;
    top: 38%;
    left: 23%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}

.hero-content h4{
     font-size: 2rem;
    font-weight: 800;
    line-height: normal;
    color: #fff;
}


.hero-content h1{
    font-size: 6rem;
    font-weight: 800;
    line-height: normal;
    color: #fff;
}


.hero-content span{
  color: #ff4d30;
}

.lagend{
    max-width: 960px;
    margin: 0 auto;
}


.program-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.35rem;
    margin-top:7rem ;
    margin-bottom: 5rem;

}

.program-content h1{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: normal;
}

.program-content span{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: normal;
    color: #ff4d30;
}

.program-content img{
    width: 2.8125rem;
    height: 0.9375rem;
}

.program-content p{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: normal;
    color: #524f4f;
}

.grid-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    gap: 3rem;
    margin-inline: 4.8rem;
}

.grid-item img{
    width:140px;
    height: 140px;
}

.grid-item{
    display: flex;
    gap:2rem;
}


.item{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.item h1{
    font-size: 2rem;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.item p{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: normal;
    color: #615f5f;
}

.item span{
    font-weight: 500;
    font-size: 1.125rem;
    line-height: normal;
    color: #ff4d30;
}

.background-section{
    
    /* width: 100%; */
    /* margin-block: 7rem;  */
    /* position: relative; */
    /* height: 480px; */
    /* max-width: 1880px; */
}

.background-content{
    background: url('https://www.caloricresponsibilitytrainingandconditioning.com/wp-content/uploads/2014/11/Metabolic-Testing-Slide.jpg')center / cover no-repeat;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 350px;
    /* position: absolute; */
    /* top: 15%; */
    /* left: 80%; */
    margin-block: 7rem;
}

.background-content h1{
    font-size: 3rem;
    font-weight: 800;
    line-height: normal;
    color: #fff;
}
.background-content span{
    color: #ff4d30;
}

.background-content p{
   
    font-size: 1.25rem;
    font-weight: 400;
    line-height: normal;
    color: #fff;

}


.class{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
}

.class h1{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: normal;
    color: #000;
}

.class span{
    color: #ff4d30;
}

.class img{
    width: 2.8125rem;
    height: 0.9375rem;
}

.class p{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: normal;
    color: #524f4f;
}

.class-grids{
      display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  margin: 3rem 2rem;
}

.left-grid{
    display: flex;
  flex-direction: column;
  gap: 2rem;
}

.left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  flex: 2;
}

.left img {
  width: 44px;
}

.left p{
    font-size: 1.5rem;
    font-weight:700;
}

.btn-view{
  padding: 2rem;
  border-radius: 12px;
  font-size: 1.5rem;
  text-align: center;
}

.btn-view button{
   font-size: 1.5rem;
    font-weight:700;
    color: #fff;
    background-color: #ff4d30;
    border: none;
    text-align: center;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.2rem;
}

.right-image {
  width: 100%;
  border-radius: 12px;
}

.right h2 {
  font-size: 2rem;
}

.right p {
  font-size: 1.125rem;
  color: #615f5f;
}


.SCHEDULE{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0, 0, 0, 0.9)),
    url(https://www.svdjk.de/images/svdjk/svdjk_bg4_blu.jpg) center / cover no-repeat;
  height: 180vh;
  width: 100%;
  margin-block: 8%;
}
.schedule-content img{
    width: 2.8125rem;
    height: 0.9375rem;
}

.schedule-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
    padding-bottom: 5rem;
    gap: 1rem;
}

.schedule-content h1{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: normal;
    color: #fff;
}

.schedule-content h1 span{
    color: #ff4d30;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: normal;
    color: #fff;
}

.schedule-content p{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: normal;
    color: #fff;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.form h4{
    color: #fff;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: normal;
    
}
.form span{
    color: #ff4d30;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: normal;
    height: 100px;
}

.schedule-content{
    text-align: center;
    font-weight: bold;
    font-size: 1rem;

}

 .schedule-time td{
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 4rem;
    margin-left: 4rem;
    color: #fff;
 }

.trainer-content img{
       width: 2.8125rem;
    height: 0.9375rem;
}
 .trainer-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    /* width: 1110px;
    margin: 0 auto; */
    text-align: center;
 }
 .trainer-content h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: #000;
 }
.trainer-content span{
    font-size: 2.5rem;
    font-weight: 700;
    color: #ff4d30;
 }

 .trainer-content p{
    font-size: 1.25rem;
    font-weight: 400;
    color: #524f4f;
 }



.grid-trainer{
 
    display: flex;
    align-items: center;
   
    gap: 1rem;
    padding: 1.25rem;
    margin-inline: 1rem;
}
.tr-img{
   width: 369.94px;
   height: 280.65px;
}
.trainer{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-inline: 1rem;
    margin-top: 3rem;
    background-color: whitesmoke;
    justify-content: center;
    align-items:center;
    padding: 2rem;
     box-shadow: 10px 10px 36px rgba(0,0,0,0.25);
     border-radius: 2rem;
     text-align: center;
}
.trainer h5{
    font-weight: 600;
    font-size: 1.125rem;
    color: #ff4d30;
}

.trainer h3{
    font-weight: 500;
    font-size: 1.625rem;
    color: #000;   
}

.trainer .iq{
    font-weight: 400;
    font-size: 1.25rem;
    color: #524f4f;   
}
i{
    cursor: pointer;
}
i:hover{
    color: #ff4d30;
}

.last-section{
 display: grid;
 grid-template-columns: 1fr 1fr;
}

.register{
    background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),
     url(https://gymgear.com/cdn/shop/articles/AdobeStock_317724775-scaled-1_cd32751c-29ce-4417-9098-426b53d91e88-3050369.jpg?v=1763740793) center / cover no-repeat;
    width: 100%;
    position: relative;
}
form{
   background-color: #fff;
   padding: 3.125rem;
   border-radius: 6px;
   /* height: 477.5px; */
   margin-inline: 1.5rem;
   font-size: 2rem;
   padding: 1rem;
   width: 70%;
}
form input{
     font-size:1rem;
   padding: 1rem;
}

.map{
    width: 100%;
}
.map iframe{
    width: 100%;
    height: 450px;
}

.map .register{
    flex: 1;
}








footer{
    text-align: center;
    font-size: 1.25rem;
    padding: 2rem;
}

footer span{
    color: #ff4d30;
}



@media (max-width:700px){


    .nav-links{
        display: none;
    }

    .hero-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        text-align: center;
        position: relative;
        bottom: 35rem;
        left: 1rem;

    }

    .hero-content h4{
    font-size: 1.25rem;
    font-weight: 800;
    line-height: normal;
    color: #fff;
    }
    .hero-content h1{
    font-size: 2.85rem;
    font-weight: 800;
    line-height: normal;
    color: #fff;
}

.hero-content span{
    font-size: 3rem;
    font-weight: 800;
    line-height: normal;
    color: #ff4d30;
}


.program-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.program-content h1{
    font-size: 1.75rem;
    font-weight: 700;
    line-height: normal;
    color: #524f4f;
}

.program-content span{
     font-size: 1.75rem;
    font-weight: 700;
    line-height: normal;
}



.program-content p{
    font-size: 0.875rem;
    font-weight: 400;
    line-height: normal;
    color: #524f4f;
    text-align: center;
    margin-inline: 5rem;
}

.grid-items{
    grid-template-columns: 1fr;
    margin-inline: 1.75rem;
}

.item h1{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.item span{
    font-weight: 500;
    font-size: 1rem;
    line-height: normal;
    color: #ff4d30;
}

.item p{
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    color: #615f5f;
}


.background-section{

}
.background-content {
  gap: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 7px;
}
.background-content h1{
    font-size: 1.5rem;
    font-weight: 800;
    line-height: normal;


}

.background-content p{
    font-size: 1rem;
    line-height: normal;
    font-weight: 400;
}


.class-grids{
    /* display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

} 


.left-grid{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.left{
 display: flex;
 flex-direction: row;
}
.left p{
    
    font-size: 1rem;
    font-weight:500;
}

.right img{
    width: 100%;
}



.grid-trainer{
    display: flex;
    flex-direction: column;
}

.trainer-content{
    display: flex;
    justify-content: center;
}

.last-section{
    display: flex;
    flex-direction: column;
}

}

